@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    :root {
        font-size: 17px;
    }

    h1 {
        font-size: 2.35em;
    }

    h2 {
        font-size: 2.35em;
    }

    h3 {
        font-size: 3.3em;
    }

    .button {
        font-size: 1.15em;
    }

    .container-content {
        font-size: 19px;
    }
}

@media (max-width: 992px) {
    :root {
        font-size: 16px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 2.2em;
        margin-bottom: 0.75em;
    }

    h3 {
        font-size: 3.1em;
        margin-bottom: 0.25em;
    }

    .container-content {
        font-size: 18px;
    }

    .button {
        font-size: 1em;
    }

    .hamburger {
        right: 12px;
    }

    .header-section {
        padding: 2em 1em 0 1em;
    }

    .header-section--gallery > h3 {
        font-size: 2.5em;
    }

    .container-content {
        font-size: 18px;
        padding-top: 2em;
        padding-bottom: 4em;  
    }

    #section-split {
        max-height: none;
        height: auto;
    }

    .overlay-container {
        padding: 0 0 4em 4em;
    }

    .overlay-container h2 {
        font-size: 2em;
    }

    .overlay-content h4 {
        font-size: 1em;
    }

}

@media (max-width: 768px) {
    :root {
        font-size: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 2.8em;
    }

    .button {
        font-size: 1em;
    }

    .container-content {
        font-size: 17px;
    }

    .row > [class*="col"] + [class*="col"] {
        padding-top: 1em !important;
    }

    .container > .row + .row {
        padding-top: 2em !important;
    }

    #section-split .row > [class*="col"] + [class*="col"] {
        padding-top: 0 !important;
    }

    .header-section > h2 {
        font-size: 2.25em;
    }

    .section-split-content {
        height: 45vh;
    }
    
    .cursor {
        display: none;
    }

    .img-container {
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .order-second {
        order: 1;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 2.5em;
    }

    .button {
        font-size: 0.95em;
    }

    .container-content {
        font-size: 16px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x));
        padding-left: calc(var(--bs-gutter-x));
        margin-right: auto;
        margin-left: auto;
    }

    .header-section {
        padding: 0;
    }

    .banner > .title {
        font-size: 8vw;
    }

    #section-slider > .container-fluid {
        padding-left: 21px;
        padding-right: 21px;
    }

    .overlay-container {
        padding: 0 0 4em 2em;
    }

    .section-split-content-no--img > .overlay-container {
        padding: 0 0 3.7em 2em;
    }

    .section-gallery-item::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(170, 141, 114, 0.5);
    }

    .section-gallery-item--text {
        display: flex;
    }

    .section-infos-process div p {
        font-size: 14px;
    }
}
